{% extends "layout.html" %}
{% block body %}

<title>PharmaCrypt</title>
<div class="breadcrumb-option contact-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>PharmaCrypt</h1>
                    <h2>Redirect to ThingsSpeak Data Channel</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<div class="container">
    <div class="contact__form"
        <div class="row justify-content-center">
                    <form action="" method="post">
                        <div class="input-list">
                            <div class="form-group row justify-content-center">
                            <button class="site-btn" name='Data' type='Submit' formaction='https://thingspeak.com/channels/997798/private_show' >ThingsSpeak</button>
                            </div>
                        </div>
                    </form>
           
        </div>
    </div>
</div>
{% endblock %}