<!--<h1>PharmaCrypt</h1>
<h2>Fetching cloud based data<h2>
<form action='' method=post>
<button name='Fetch Data' type='Submit' formaction='/fetch_data' >Fetch Data</button> -->

<!-- Breadcrumb Section Begin -->
{% extends "layout.html" %}
{% block body %}
<div class="breadcrumb-option contact-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>PharmaCrypt</h1>
                    <h2>Fetching cloud based data</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<div class="container">
    <div class="contact__form"
        <div class="row justify-content-center">
                
                    <form action="" method="post">
                        <div class="input-list">
                            <div class="form-group row justify-content-center">
                            <button class="site-btn" name='Fetch Data' type='Submit' formaction='/fetch_data' >Fetch Data</button>
                            </div>
                        </div>
                    </form>
        </div>
    </div>
</div>
{% endblock %}